@tailwind base;
@tailwind components;
@tailwind utilities;

.page-numbers.current span {
  @apply bg-indigo-600 text-white shadow-lg;
}

.page-numbers.dots {
  @apply mr-2 text-lg;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}